@page "/addEquipamentos/{id}"
@inherits SaleInstalacaoPage

<MudText Typo="Typo.h6">Instalação:</MudText>

@if (IsBusy)
{
    <MudPaper Class="pa-8 mt-4">
        <MudSkeleton Height="55px" />
        <MudSkeleton Height="110" />
        <MudSkeleton Height="55px" />
        <MudSkeleton Height="110" />
        <MudSkeleton Height="55px" />
    </MudPaper>
}
else
{
    <MudPaper Class="pa-8 mt-4">
        <EditForm Model="@InputModelInstalacao">
            <DataAnnotationsValidator />

            <MudText Typo="Typo.h6">Cliente: @Cliente?.Nome</MudText>

            @if (Endereco != null)
            {
                <MudText Typo="Typo.body1"> @Endereco.Logradouro, @Endereco.Numero, @Endereco.Bairro, @Endereco.Cidade</MudText>
            }
            else
            {
                <MudText Typo="Typo.body1">Endereço não encontrado.</MudText>
            }

           @*  <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Salvar</MudButton>
            <MudButton Href="/instalacoes" Variant="Variant.Filled" Color="Color.Primary">Voltar</MudButton> *@
        </EditForm>
    </MudPaper>
    <div class="d-flex pa-4">
    <MudText Typo="Typo.h6">Adicione os equipamentos da instalação:</MudText>
    </div>

    <MudButton  StartIcon="@Icons.Material.TwoTone.Add" Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenModal">Adicionar</MudButton>

    <MudPaper>
    <MudDataGrid Items="@Vendas" 
                Class="mt-4">
       
        <Columns>
                    <TemplateColumn Title="Imagem">
                        <CellTemplate Context="venda">
                            <img src="@($"{ApiBaseUrl}{venda.Item.Equipamento.ImagemUrl}")" alt="Imagem do equipamento"
                                 style="width: 50px; height: auto;" />
                        </CellTemplate>
                    </TemplateColumn>
            <PropertyColumn Property="x => x.Quantidade" Title="Quantidade"></PropertyColumn>
            <PropertyColumn Property="x => x.Equipamento.Tipo" Title="Tipo"></PropertyColumn>
            <PropertyColumn Property="x => x.Equipamento.Modelo" Title="Item"></PropertyColumn>
            <TemplateColumn>
                <CellTemplate>
                    <MudStack Row>
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                           OnClick="()=>OpenModalEdit(context.Item.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                           OnClick="()=>OnDeleteButtonClikedAsync(context.Item.Id, context.Item.Quantidade,
                                            context.Item.Equipamento.Modelo)"></MudIconButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>

    </MudDataGrid>

    </MudPaper>


}