@page "/clientes/adicionar"
@inherits CreateClientePage

<div class="d-flex pa-4">
<MudText Typo="Typo.h5">Novo Cliente</MudText>
</div>
<MudCard>
<MudCardContent Class="pa-2">
        <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <MudTextField T="string" Label="Nome" HelperText="Campo Obrigatório"
                      @bind-Value="InputModel.Nome" For="@(() =>InputModel.Nome)" />
        <div class="d-flex">

                <MudTextField T="string" Label="CPF/CNPJ" Mask="@DocumentoMask" HelperText="Campo Obrigatório"
                              @bind-Value="InputModel.Documento" For="@(() => InputModel.Documento)" Immediate="true"
                              OnBlur="@(e => UpdateMask(InputModel.Documento))" />

        <MudTextField T="string" Label="Celular" Mask="@(new PatternMask("00 0 0000-0000"))" HelperText="Campo Obrigatório"
                      @bind-Value="InputModel.Celular" For="@(() =>InputModel.Celular)" />
        </div>

        <MudTextField T="string" Label="E-mail" HelperText="Campo Obrigatório"
                      @bind-Value="InputModel.Email" For="@(() =>InputModel.Email)" />

        <MudTextField T="DateTime" Label="Data de Cadastro" HelperText="Campo Obrigatório"
                      @bind-Value="InputModel.DataCadastro" For="@(() =>InputModel.DataCadastro)" />

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                Proximo
            </MudButton>
     </EditForm>
    </MudCardContent>
</MudCard>
            
@code {
    private PatternMask CPFMask = new("000.000.000-00");
    private PatternMask CNPJMask = new("00.000.000/0000-00");

    private IMask DocumentoMask => InputModel.Documento?.Length > 13 ? CNPJMask : CPFMask;

    private void UpdateMask(string value)
    {
        // Atualiza a máscara
        StateHasChanged();
    }
}