@page "/clienteview/{Id}"
@inherits ViewClientePage

@if (IsBusy)
{
    <MudProgressCircular Indeterminate="true" />
}
else if (Cliente != null)
{
    <div class="d-flex pa-4">
    <MudText Typo="Typo.h5">Detalhes do Cliente :</MudText>
    </div>
    <MudCard>
        <MudCardHeader>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudText Typo="Typo.subtitle1">Nome:</MudText>
                    <MudText Typo="Typo.body1">@Cliente.Nome</MudText>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudText Typo="Typo.subtitle1">CPF/CNPJ:</MudText>
                    <MudText Typo="Typo.body1">@Cliente.Documento</MudText>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudText Typo="Typo.subtitle1">Celular:</MudText>
                    <MudText Typo="Typo.body1">@Cliente.Celular</MudText>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudText Typo="Typo.subtitle1">Email:</MudText>
                    <MudText Typo="Typo.body1">@Cliente.Email</MudText>
                </MudItem>
            </MudGrid>
        </MudCardContent>
       @*  <MudCardActions>
            <MudButton Color="Color.Primary" Href="/clientes">Voltar</MudButton>
        </MudCardActions> *@
    </MudCard>

}
else
{
    <MudAlert Severity="Severity.Error">Cliente não encontrado.</MudAlert>
}


<div class="d-flex pa-4">
<MudText Typo="Typo.h6">Endereço(s):</MudText>
</div>
<MudDataGrid Items="@Enderecos">
<Columns>
    <PropertyColumn Property="x => x.Logradouro">Logradouro</PropertyColumn>
    <PropertyColumn Property="x => x.Bairro">Bairro</PropertyColumn>
    <PropertyColumn Property="x => x.Numero">Número</PropertyColumn>
    <PropertyColumn Property="x => x.Cidade">Cidade</PropertyColumn>
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/enderecos/editar/{context.Item.Id}")" Color="Color.Primary"></MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
<div class="d-flex pa-4 justify-home" style="display: inline-block">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/clientes" Class="me-6">Voltar</MudButton>
<MudButton StartIcon="@Icons.Material.TwoTone.Add" Variant="Variant.Filled"  OnClick="@(() => AdicionarEndereco(Cliente.Id))" Color="Color.Primary">Novo Endereço</MudButton>
</div>

<div class="d-flex pa-4"
<MudText Typo="Typo.h6">Instalação:</MudText>
</div>

@foreach (var endereco in Enderecos)
{
    <div class="d-flex pa-4">
        <MudText Typo="Typo.h6">Endereço: @endereco.Logradouro, @endereco.Numero - @endereco.Bairro, @endereco.Cidade</MudText>
    </div>

    <MudDataGrid Items="@endereco.Instalacoes">
        <Columns>
            <PropertyColumn Property="x => x.DataInstalacao" Format="dd/MM/yyyy" Title="Data da Instalação"></PropertyColumn>
            <PropertyColumn Property="x => x.TipoInstalacao" Title="Tipo"></PropertyColumn>
            <PropertyColumn Property="x => x.Valor" Format="C">Valor</PropertyColumn>
            <PropertyColumn Property="x => x.Status">Status</PropertyColumn>
        </Columns>
    </MudDataGrid>

    @foreach (var instalacao in endereco.Instalacoes)
    {
        <div class="d-flex pa-4">
            <MudText Typo="Typo.h6">@instalacao.TipoInstalacao - @instalacao.DataInstalacao</MudText>
        </div>

        <MudDataGrid Items="@instalacao.Vendas">
            <Columns>
                <PropertyColumn Property="x => x.Quantidade" Title="Quantidade"></PropertyColumn>
                <PropertyColumn Property="x => x.Equipamento.Tipo" Title="Tipo"></PropertyColumn>
                <PropertyColumn Property="x => x.Equipamento.Modelo" Title="Item"></PropertyColumn>
            </Columns>
        </MudDataGrid>
    }
}
<div>
    <br />
</div>