@page "/equipamentos"
@inherits ListEquipamentosPage

<div class="pa-8">
    <MudText Typo="Typo.h6">Equipamentos</MudText>
    <br />
    <MudText Typo="Typo.h4">Lista de equipamentos</MudText>
</div>
<div class="d-flex justify-end"
<MudButton Variant="Variant.Filled" Color="Color.Primary"
StartIcon="@Icons.Material.TwoTone.Add" Href="equipamentos/adicionar">
Novo Equipamento
</MudButton>
</div>

<MudDataGrid Items="@Equipamentos" Filterable="true" Hideable="true" QuickFilter="Filter" Class="mt-4">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Equipamentos</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value=SearchTerm Placeholder="Filtar" Adornment="Adornment.Start"
        AdornmentIcon="@Icons.Material.Filled.Search" Immediate="true" IconSize="Size.Medium" Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="ID"></PropertyColumn>
        <PropertyColumn Property="x => x.Tipo" Title="Tipo"></PropertyColumn>
        <PropertyColumn Property="x => x.Modelo" Title="Modelo"></PropertyColumn>
        <PropertyColumn Property="x => x.Potencia" Title="Potência"></PropertyColumn>
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                    Href="@($"/equipamentos/editar/{context.Item.Id}")" Color="Color.Primary"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                   arial-label="Excluir" OnClick="()=>OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Modelo)"></MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

</MudDataGrid>